.container {
  width: 30%;
  height: auto;
}

.card {
  width: 69.5%;
  height: 300px;
}
.card img {
  width: 100%;
  object-fit: cover;
}

#panels {
  width: 1000px;
  display: flex;
  margin: auto;
}
.rightPanel {
  width: 70%;
}
.rightpanel img {
  width: 100%;
}
