* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#header {
  width: 100vw;
  height: 40px;
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header ul {
  display: flex;
  gap: 25px;
}
#header svg {
  fill: black;
  width: 35px;
  height: 25px;
  border-radius: 50%;
}
button {
  background-color: blue;
  padding: 5px;
  border-radius: 5px;
  color: #fff;
}
